:root {
    --accent: #9090a0;
    --text: lightgray;
    --bg: #444751;
    --accent-bg: #444051;
}

img {
    vertical-align: middle;
}


img + a {
    margin-left: 4px;;
}

.weighted-table {
    display: grid;
}

b {
    display: inline-block;
    margin-bottom: 8px;
}

details {
    background-color: transparent;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--bg);
    z-index: 100;
    box-shadow: 0px 3px 8px black;
}

header>nav select {
    margin: 0 .5rem 1rem .5rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-block;
    padding: .1rem 1rem;
    text-decoration: none;
}

header>nav span {
    margin: 0 .5rem 1rem .5rem;
    color: var(--text);
    display: inline-block;
    padding: .1rem 1rem;
    text-decoration: none;
}

td {
    padding-top: 2px;
    padding-bottom: 2px;
}

html {
  overflow-y: scroll;
}

span + select { 
    margin-left: 12px;
}

.hidden {
    display: none;
}

.blueprint-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 4px;
}

.blueprint-set {
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 16px;
}

.capital-upgrade-tree {
    display: grid;
    column-gap: 10px;
    row-gap: 8px;
    grid-template-columns: repeat(7, 64px) 400px;
}

.upgrade-level {
    text-align: center;
    background: url(WMap_LevelBadge.png);
    width: 50%;
    left: 25%;
    position: relative;
    color: gray;
    background-repeat: no-repeat;
    background-size: 100% 26px;
}


.capital-upgrade-tree img {
    -webkit-mask-image: url(hex.png);
    mask-image: url(hex.png);

    -webkit-mask-size: 100%;
    mask-size: 100%;
}


.hex-frame {
    width: 64px;
    height: 64px;
    background: url(WMap_HexFrame.png);
    background-size: 100% 100%;
}

.upgrade-track {
    background-color: lightgray;
    width: 4px;
    height: 100%;
    opacity: 50%;;

    left: 30px;
    position: relative;

    box-sizing: content-box;
    
}

#upgrade-panel {
    position: fixed;;
    border: 2px solid black;
    padding: 10px;
    width: 400px;
    height: 800px;
    display: none;
    overflow-y: scroll;
}

#upgrade-cost {
    margin-bottom: 30px;
}

#upgrade-panel h5 {
    margin: 4px;
}

#upgrade-cost {
    display: grid;
    padding: 0 30px;;
}

header {
    max-height: 80px;
}

.upgrade-level:hover, .hex-frame:hover {
    filter: drop-shadow(0px 0px 8px blue) brightness(120%);
}

.selected, .selected:hover {
    filter: drop-shadow(0px 0px 12px orange) brightness(200%);
}

.upgrade-level {
    user-select: none;
}

.building-categories {
    display: initial;
    border-collapse: collapse;
}

tr.header-row {
    background-color: var(--bg);
}

td {
    padding-top: 20px;
    padding-bottom: 20px;
}

th.sticky-first, th.sticky-second {
    position: sticky;
    top: 128px;
    background-color: black;
}

th.category-name {
    position: sticky;
    top: 80px;;
    font-size: xx-large
}

.recipe-result {
    margin-left: auto;
    margin-right: 32px;
}

.recipe-result>span {
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    padding: 4px 10px 4px 10px;
    border-radius: 14px;
    border: 2px solid darkorange;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-anchor::before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
  pointer-events: none;
}

.section-anchor img {
    display: inline-block;
}

.section-anchor h3 {
    display: inline-block;
    width: 80%;
}



footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.dropdown {
    display:inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    background-color: var(--accent-bg);
}

.dropdown-content > a {
    display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.to-solve-sets {
    display: grid;
    grid-template-columns: auto auto;
    min-width: 200px;
}


.relic-effect-category {
    margin-top: 10px;;
    margin-bottom: 10px;;
    color: lightskyblue;
}

.relic-effect {
    margin-top: 8px;
    margin-bottom: 8px;

}

.effects-table h4 {
    font-size: 100%
}

.biome-reward {
    margin-left: 16px;
}

.effect-source-container {
    margin-top: 8px;
}

.effect-source-cell {
    width: 100%;
}

.effect-description-cell {
    padding-bottom: 60px;
}

