:root {
    --accent: #9090a0;
    --text: lightgray;
    --bg: #444751;
    --accent-bg: #444051;
}

img {
    vertical-align: middle;
}


img + a {
    margin-left: 4px;;
}

.weighted-table {
    display: grid;
}

b {
    display: inline-block;
    margin-bottom: 8px;
}

details {
    background-color: transparent;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--bg);
    z-index: 100;
    box-shadow: 0px 3px 8px black;
}

header>nav select {
    margin: 0 .5rem 1rem .5rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-block;
    padding: .1rem 1rem;
    text-decoration: none;
}

header>nav a {
    margin: 0;
    margin-bottom: 12px;

}

header>nav span {
    margin: 0 .5rem 1rem .5rem;
    color: var(--text);
    display: inline-block;
    padding: .1rem 1rem;
    text-decoration: none;
}

td {
    padding-top: 2px;
    padding-bottom: 2px;
}

html {
  overflow-y: scroll;
}

span + select { 
    margin-left: 12px;
}

.hidden {
    display: none;
}

.blueprint-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 4px;
}

.blueprint-set {
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 16px;
}

.capital-upgrade-tree {
    display: grid;
    column-gap: 10px;
    row-gap: 8px;
    grid-template-columns: repeat(7, 64px) 400px;
}

.upgrade-level {
    text-align: center;
    background: url(WMap_LevelBadge.png);
    width: 50%;
    left: 25%;
    position: relative;
    color: gray;
    background-repeat: no-repeat;
    background-size: 100% 26px;
}


.capital-upgrade-tree img {
    -webkit-mask-image: url(hex.png);
    mask-image: url(hex.png);

    -webkit-mask-size: 100%;
    mask-size: 100%;
}


.hex-frame {
    width: 64px;
    height: 64px;
    background: url(WMap_HexFrame.png);
    background-size: 100% 100%;
}

.upgrade-track {
    background-color: lightgray;
    width: 4px;
    height: 100%;
    opacity: 50%;;

    left: 30px;
    position: relative;

    box-sizing: content-box;
    
}

#upgrade-panel {
    position: fixed;;
    border: 2px solid black;
    padding: 10px;
    width: 400px;
    height: 800px;
    display: none;
    overflow-y: scroll;
}

#upgrade-cost {
    margin-bottom: 30px;
}

#upgrade-panel h5 {
    margin: 4px;
}

#upgrade-cost {
    display: grid;
    padding: 0 30px;;
}

header {
    max-height: 80px;
}

.upgrade-level:hover, .hex-frame:hover {
    filter: drop-shadow(0px 0px 8px blue) brightness(120%);
}

.selected, .selected:hover {
    filter: drop-shadow(0px 0px 12px orange) brightness(200%);
}

.upgrade-level {
    user-select: none;
}

